body {
	font-family: ubuntu, helvetica, arial;
	background-color: #373D42;
	font-size: 16px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: ubuntu, helvetica, arial;
}

h2 {
	margin-top: 0;
	font-weight: 100;
	color: #8DC429;
}

p {
	margin: 15px 0;
}

a {
	color: #F4F4F4;
}

a:hover {
	color: white;
}

pre {
	padding: 10px 15px;
	background: #262A2E;
	font-family: 'Ubuntu Mono', sans-serif;
  	font-weight: 400;
	font-size: 15px;
	color: #C1C8CF;
	line-height: 30px;
	white-space: pre;
	border: none;
}

/* Bitcoin is a powerfu: */

.logo-header {
	font-weight: 700;
	font-style: italic;
	font-size: 50px;
	padding-bottom: 50px;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.40);
}

.line-top {
	border-top: 1px dashed #898989;
	padding: 45px 0;
	margin-top: 40px;
}

.m10v { margin:10px 0;}
.m20v { margin:20px 0;}
.m30v { margin:30px 0;}
.m30b { margin-bottom:30px;}
.m10h { margin:0 10px;}

.bg-white {
	background: #8DC429;
	height: 90%;
	padding: 5% 4%;
	overflow: hidden;
	position: relative;
	border-bottom: 1px dashed white;
}

.bg-white h3 {
	color: white;
	margin-bottom: 20px;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.40);
}

.bg-white p {
	font-weight: 100;
	font-size: 20px;
	color: white;
	line-height: 30px;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.40);
}

.white-lead {
	padding-bottom: 30px;
	margin: 57px auto;
	width: 60%;
}

.btn {
	border: 0;
	display: inline-block;
	font-weight: 100;
	font-size: 25px;
	color: ##8DC429;
	line-height: 30px;
	padding: 16px; 
	border-radius: 5px;
	height: 63px;
	width: 260px;
}

.btn-default {
	background: white;
}

.btn-primary {
	background: #373D42;
}

.btn-default:hover {
	background: #f2f2f2;
}

.btn-primary:hover {
	color: white;
	background: #272B2F;
}

.fi {
	font-style: italic;
}

.col-md-4 small {
	color: #8DC429;
}

.col-md-4 p {
	margin: 0;
}

p.logo-footer {
	font-weight: 700;
	font-style: italic;
	float: right;
	font-size: 18px;
}

footer {
	border-top: 1px dashed white;
	margin-top: 40px;
	background: #212427;
	padding: 8px 0;
}

footer .container {
	margin-bottom: 0;
}

footer p {
	margin: 0;
	color: #fff;
}
