{
  "extends": "airbnb-base",
  "rules": {
    "no-plusplus": 0,
    "eol-last": [
      "error",
      "always"
    ],
    "class-methods-use-this": "off",
    "curly": [
      "error",
      "all"
    ]
  }
}
