 	<div class="history" data-ng-controller="HistoryController">
	 		<h1>黑名单地址历史交易量统计</h1>
	 		<div class="hdr" data-ng-repeat="history in histories">
	 			<table class="tab1">
	 				<tr>
	 					<td class="td1">导入时间：{{history.import_time}}</td>
	 					<td class="td2 dc" ng-csv="history.user" add-bom="true" csv-header="['黑名单地址','备注','交易量']" filename="黑名单地址历史交易量统计_{{dateval}}.csv">导出</td>
	 				</tr>
	 			</table>
	 			<table class="tab1 tab2" data-ng-repeat="user in history.user">
	 				<tr>
	 					<td class="td1"><a href="address/{{user.addr}}">{{user.addr}}</a></td>
						<td class="">{{user.comment}}</td>
						<td class="td2">{{user.txsnum}}个交易</td>
	 				</tr>
	 			</table>
				<b>{{history.txsnum}}个交易</b>
				<!--<div class="zs">-->
	 				<!--<table class="tab1 tab2">-->
	 					<!--<tr>-->
	 						<!--<td class="td1"><a href="address/{{h.user.addr}}">{{h.user.addr}}</a></td>-->
	 						<!--<td class="">{{h.user.comment}}</td>-->
	 						<!--<td class="td2">{{h.user.txsnum}}个交易</td>-->
	 					<!--</tr>-->
	 				<!--</table>	 				-->
	 			<!--</div>-->
	 			<div class="bot">
	    			<span class="span1"><img src="images/zk.png" width="30" alt="" data-ng-click="expand(true, h)"></span>
	    			<span class="span2"><img src="images/sq.png" width="30" alt="" data-ng-click="expand(false, h)"></span>
	    		</div>
	 		</div>
	 	</div>
