	 	<div class="history" data-ng-controller="HistoryController" ng-init="pg='limitpage'">
	 		<h1>黑名单地址历史交易量统计</h1>
	 		<div class="hdr" data-ng-repeat="history in histories">
	 			<table class="tab1">
	 				<tr class="thar">
	 					<td class="td1">导入时间：{{history.import_time}}</td>
	 					<td class="td2 daochu" data-ng-show="history.user.length>0">导出</td>
	 				</tr>
	 				<tr class="tab2" data-ng-repeat="user in history.user|limitTo:history.limitpage">
	 					<td class="td1"><a href="address/{{user.addr}}">{{user.addr}}</a></td>
						<td class="">{{user.comment}}</td>
						<td class="td2">{{user.txsnum}}个交易</td>
	 				</tr>
	 			</table>
				<b data-ng-show="history.user.length>0">{{history.txsnum}}个交易</b>
				<!--<div class="zs">-->
	 				<!--<table class="tab1 tab2">-->
	 					<!--<tr>-->
	 						<!--<td class="td1"><a href="address/{{h.user.addr}}">{{h.user.addr}}</a></td>-->
	 						<!--<td class="">{{h.user.comment}}</td>-->
	 						<!--<td class="td2">{{h.user.txsnum}}个交易</td>-->
	 					<!--</tr>-->
	 				<!--</table>	 				-->
	 			<!--</div>-->
	 			<div class="bot" data-ng-show="history.user.length>5">
	    			<span class="span1"><img src="images/zk.png" width="30" alt="" data-ng-show="datashow{{history.import_time}}" data-ng-click="expand(history.import_time, history.user.length,history.idnum)"></span>
	    			<span class="span2"><img src="images/sq.png" width="30" alt="" data-ng-show="!datashow{{history.import_time}}" data-ng-click="expand(history.import_time, 5,history.idnum)"></span>
	    		</div>
	 		</div>
	 	</div>
