 <div data-ng-if="true" data-ng-controller="transactionsController" data-ng-init="load('address')">
  	    <div class="if">
		    <div class="mdWrap">
		    	    	<div class="md">
		    	    		<input type="text" data-ng-model="searchAddr" placeholder="1KP9YtDfko2WpPy95T6uNQxVEzJYzMenek">
		    	    		<input id="searchButton" type="button" ng-click="searchByAddr()" value="GO">
		    	    	</div>
		    </div> 
	    	<iframe src="views/ripplecharts-frontend/src/index.html" frameborder="0"></iframe> 
	    	<div style="height: 800px;width: 100%;overflow: hidden;">
	    		
	    	</div>
	    </div>
	  
	    <div class="tab1">
	    	<table>
	    		<tr class="bbt">
	    			<td class="td1"><a href="address/{{searchAddr}}">{{searchAddr}}</a></td>
	    			<td>这是孙张三的账户地址</td>
	    			<td class="td2">0.017463 BTC</td>
	    		</tr>	    		
	    	</table>
	    </div>
	    <div data-ng-include src="'views/includes/connection.html'"></div>
    <div data-ng-include src="'views/transaction/list.html'" when-scrolled="loadMore()"></div>
  </div>


