 <div data-ng-if="true" data-ng-controller="transactionsController" data-ng-init="load('address')">
  	    <div class="if">
		    <div class="mdWrap" data-ng-show="false">
		    	    	<div class="md">
		    	    		<input id="searchAddress" type="text" data-ng-model="searchAddr" >
		    	    		<input id="searchButton" type="button" ng-click="searchByAddr()"  value="GO">
		    	    	</div>
		    </div>  
	    	<iframe src="views/ripplecharts-frontend/src/index.html" frameborder="0"></iframe> 
	    </div>
	  
	    <div class="tab1">
	    	<table>
	    		<tr class="bbt">
	    			<td class="td1"><a href="address/{{searchAddr}}">{{searchAddr}}</a></td>
	    			<td>这是孙张三的账户地址</td>
	    			<td class="td2">0.017463 BTC</td>
	    		</tr>	    		
	    	</table>
	    </div>
	    <div data-ng-include src="'views/includes/connection.html'"></div>

<!--    	<input data-ng-show="true" type="text" data-ng-change="" data-ng-model="addr" value="2NCRHyeRjyo1bUiZXLLymapcPxLDrrXY5Gn"> -->
    <div data-ng-include src="'views/transaction/list.html'" when-scrolled="loadMore()"></div>
  </div>

