/*body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0;}
body{font:14px"微软雅黑";background:#f5f4f9;-webkit-text-size-adjust:100%; color: #666;background: #fff;overflow-x: hidden;position: relative;}
.Q-body{font-family: "微软雅黑";position: relative;}
body a{color:#666;text-decoration:none}
body a:hover{text-decoration:none;}
body a:visited{text-decoration:none;}
body a:-webkit-any-link{text-decoration:none;}
body a:-moz-any-link{text-decoration:none;}
em{font-style:normal;}
li{list-style:none}
img{border:0;vertical-align:middle}
table{border-collapse:collapse;border-spacing:0}
p{word-wrap:break-word;}
.navWrap{width: 100%; height: 70px; background: #30bfa1;}
.nav{width: 1200px; height: 70px; margin: 0 auto;}
.nav a{color: #fff;}
iframe{width: 100%; height: 800px;overflow: hidden;}
.nav .logo{font-size: 24px; font-weight: bold; float: left; margin-top: 18px;}
.nav ul{float: left; line-height: 70px;margin-left: 100px;}
.nav ul li{float: left;font-size: 16px; margin-left: 40px;}
.nav ul li a{width: 53px; height: 55px; display: inline-block; text-align: center;}
.nav ul .current{border-bottom: 3px solid #fff;}
.search{float: left;}
.search input{width: 300px; height: 35px; margin-top: 18px; margin-left: 70px; border: none; border-radius: 3px;padding-left: 10px; background: #fff;float: left;}
.search img{cursor: pointer;margin-top: 18px;margin-left: 3px;}*/
iframe{width: 100%; height: 800px;overflow: hidden;}
em{font-style:normal;}
li{list-style:none}
img{border:0;vertical-align:middle}
table{border-collapse:collapse;border-spacing:0}
p{word-wrap:break-word;}
.mdWrap{width: 100%; height: 120px;  position: absolute; left: 0; top: 0;}
.md{ width: 470px; height: 40px; margin: 0 auto;}
.md input{width: 380px; height: 38px; padding-left: 10px; background: rgba(28,41,59,0.7); border:1px solid #fff; color: #fff;border-radius: 3px; font-size: 16px; margin-top: 40px;}
.tab1{width: 1140px; margin: 20px auto 0;}
.tab1 table{width: 1200px; border-top: 1px solid #eee;}
.grey{ background: #f4fdfc;}
.bbt{background: #30bfa1; color: #666;}
.bbt a{color: #fff;}
.tab1 table tr{border-bottom: 1px solid #eee;}
.tab1 table td{padding:0 10px;}
.tab-tit{font-weight: bold;font-size: 16px;}
.tab1 table .td2{text-align: right; line-height: 40px;}
.tab1 table .td1{font-size: 16px;}
table a{color: #30bfa1;}
.wei{color: red;}
.footer{width: 100%; height: 70px;background: #1c293b; margin-top: 50px;text-align: center; line-height: 70px; clear: both;}
.wallet{width: 1200px; margin: 30px auto;clear: both;}
.wallet h1{font-size: 20px;margin-bottom: 10px;}
.wallet table.wtab{width: 1200px;height: 50px; font-size: 16px;  background: #eee; margin-top: 10px;}
.wallet table td{padding: 0 10px;}
.wtab td span{background: #30bfa1; width: 70px; height: 50px; display: inline-block; color: #fff; text-align: center; line-height: 50px; margin-right: -10px;}
.wtab .weweq span{background: #ffcc00;}
.wallet table .td2{text-align: right;}
.wallet .wtab1{width: 1200px;  margin-top: 10px;border-top: 1px solid #eee;}
.wallet .wtab1 tr{height: 50px; border-bottom: 1px solid #eee;}
.jiay{width: 1198px; border: 1px solid #eee; border-radius: 3px; margin-top: 20px; background: #f4fdfc;}
.jiay .span1{float: left;}
.jiay .span2{float: right;}
.jy1{width: 1178px;height: 50px; line-height: 50px; padding: 0 10px; border-bottom: 1px solid #eee;}
.jiay a{color: #30bfa1;}
.jy2{border-bottom: 1px solid #eee; float: left; padding: 20px 0;position: relative;}
.JYBA{width: 510px;float: left;}
#teshu{background: #b3ffec;}
.JYB{display: inline-block; width: 510px;float: left;}
.jyb{width: 460px; display: inline-block; border: 1px solid #ddd; height: 40px; background: #fff; border-radius: 3px; margin:0 20px 10px; line-height: 40px;padding: 0 10px; float: left;}
.jyb a{float: left;}
.jyb span{float: right;}
.mid{width: 90px; margin-left: 50px; float: left;}
.arr-r{margin-top: 5px;}
.jyba{margin:0 20px 10px;}
.jy3{height:80px;clear: both;}
.jy3 span{width: 200px; height: 40px; display: inline-block;background: #ebebeb;float: left; line-height: 40px; text-align: center; margin-left: 20px; margin-top: 20px; border-radius: 3px;}
.toya{border: 1px solid #007cfb; background: #f4f9ff;}
.jy3 .span2{float: left; color: #fff; margin-left: 525px;background: url('../images/k1.png');}
.jy3 .weiqr{background: url('../images/k3.png'); }

.jy3 .span3{background: #2fa4d7; color: #fff;}
.jy3 .wtq1{background: #007cfb;}
.wtit h1{display: inline-block;}
.wtit span{font-size: 18px; float: right; color: #30bfa1; font-weight: bold; cursor: pointer;}
.if{position: relative;}
/* 区块 */
.nblock{width: 1200px;margin: 30px auto;position: relative;}
.btit{width: 1200px; height: 60px; line-height: 60px; }
.btit h1{float: left; font-size: 20px;}
.btit span{float: right; font-size: 16px;}
.btit span a{ color: #30bfa1;}
.nblock table{width: 1200px; border-top: 1px solid #eee;}
.nblock table .tfg{font-weight: bold;}
.nblock table td{text-align: center; padding: 0 10px;}
.nblock table .td5{text-align: right;}
.nblock table .td1{text-align: left;}
.nblock table tr{height: 40px; border-bottom: 1px solid #eee;}
#bejy{border: none; background: none;}
#sp-jy{margin-left: 205px;}
.bot{width: 80px; height: 40px; position: absolute; left: 50%; bottom: 20px;}
.bot span{position: absolute; left: 0; top: 0; cursor: pointer;}
.bot .span2{display: none;}
.mp-tit{text-align: center;font-size: 22px;}
.smid{width: 1200px; margin: 30px auto;}
.clear{zoom:1;}
.clear:after{display:block;clear:both;content:"";}
.smid-l{width: 740px; float: left;}
.smid-r{width: 400px; float: right; background: #f4fdfc; border-radius: 5px; padding: 0 20px; margin-top: 40px;}
.smid .smid-r tr{border-bottom: 1px solid #eee;}
.smid .smid-r .wtab1{border-top: 1px solid #eee;}
.was , .was .wtab1{width: 740px;}
.waa , .waa .wtab1{width: 400px;}
.wallet .dade{width: 620px;float: left;}
.wallet .dada{float: right; width: 550px;}
/* 历史 */
.zs{display: none;}
.history{width: 1200px;margin: 0 auto;position: relative;}
.history h1{font-size: 22px;margin-top: 30px;text-align: center;}
.hdr{width: 1140px; background: #f4fdfc; border-radius: 5px; padding: 30px;margin-top: 30px; padding-bottom: 90px;}
.hdr .tab1{width: 1140px;margin-bottom: 20px;font-size: 16px; font-weight: bold;margin-top: 0;}
.hdr .tab1.td1{text-align: left;}
.hdr .tab1 .td2{text-align: right;}
.hdr .tab2{width: 1140px;height: 50px; border: 1px solid #ddd; border-radius: 3px; background: #fff; margin-top: 10px; font-size: 14px; font-weight: normal; margin-bottom: 0;}
.hdr .tab2 tr td{padding:0 10px;}
.hdr b{width:200px; height: 40px; text-align: center;line-height: 40px; color: #fff; border-radius: 3px;background: #30bfa1;position: absolute; right: 30px; bottom: 20px;}
.dc{color: #30bfa1;}
/* 黑名单 */
.bla-tit{height: 40px; margin-bottom: 30px;}
.bla-tit input{width: 400px; height: 40px;border-radius: 3px; border: 1px solid #ddd;padding-left: 10px; float: left;background: #fff;}
.xg{float: right; margin-top: 10px;font-size: 16px;color: #30bfa1;}
.xg span{cursor: pointer;}
.nb-more{display: none;}
.del-popWrap{width: 100%; height: 100%; background: rgba(0,0,0,0.5); position: fixed; left: 0; top: 0; display: none; z-index: 999;}
.del-pop{width: 550px; height: 220px; background: #fff; border-radius: 5px; border: 1px solid #ddd; position: absolute; left: 50%; top: 25%; margin-left: -275px;}
.deltit{width: 100%; height:40px;text-align: center;line-height: 40px; border-bottom: 1px solid #ddd;}
.del-pop h5{font-size: 16px; text-align: center;margin: 20px 0; font-weight: normal;}
.del-pop button{width: 120px; height: 40px; margin-left: 105px; margin-top: 30px; border: none; color: #fff;border-radius: 3px; background: #30bfa1; cursor: pointer;}
.del-pop button.fou{background: #2fa4d7;}
.tian-popWrap{width: 100%; height:100%; background: rgba(0,0,0,0.5); position: absolute; left: 0; top: 0; z-index: 999;}
#tian-popWrap{width: 100%; height:100%; background: rgba(0,0,0,0.5); position: absolute; left: 0; top: 0; z-index: 999;display: none}
.tian-pop{width: 600px; position: absolute; left: 50%; top: 140px; margin-left: -350px; background: #fff;padding: 50px;}
.tian-pop img{position: absolute; top: -15px; right:-15px; cursor: pointer;}
.tian-pop input{width: 500px; height: 35px; border: 1px solid #ddd;background: #fff; padding-left: 10px;}
.tian-pop span{float: left; width: 50px; display: inline-block; text-align: right; margin-top: 8px;margin-right: 10px;}
.tian-pop textarea{width: 500px;height: 250px; resize: none; margin-top: 30px;border: 1px solid #ddd; padding-left: 10px;background: #fff;}
.tian-pop .bzh{margin-top: 27px;}
.tian-pop button{width: 150px; height: 40px; margin-left: 260px; margin-top: 30px; border: none; color: #fff;border-radius: 3px; background: #30bfa1; cursor: pointer;}
.bxg{cursor: pointer;}
.wquan{width: 1200px; margin: 0 auto;}
.wban , .wban .wtab1{width: 1000px; float: left; margin-top: 0;}
.erweima{float: right; margin-top: 40px;}
#wban{margin-top: 0;}
.jiaozu{float: left; height: 35px;}
.jiantou{display: inline-block; width: 40px;height: 35px;margin-left: 5px;}
.jiaozu h1{float: left;}
.jiantou img{float: left;margin-top: -2px;margin-left: 5px; cursor: pointer;}
.you , .zuo{display: none;}
.jiwtit{height: 40px;background: #f4fdfc; padding: 13px 10px 0; border: 1px solid #eee; border-bottom: none;}
#jiay{margin-top: 0;}
.bm-center{width: 1200px; margin: 0 auto;}
.bmbm , .bmbm table{width: 915px; float: right;}
.bmbmlt{width: 265px; background: #f4f4f4;float: left;margin-top: 30px;padding: 30px 0 50px;}
.bmbmcon{width: 160px; height: 160px;background: #2fa4d7; margin: 20px auto; border-radius: 50%;}
.bmbmcon img{margin-left: 52px; margin-top: 50px;}
.bmbmcon p{text-align: center; color: #fff;font-size: 16px; margin-top: 10px; font-weight: bold;}
.bmbmmid p{text-align: center;font-size: 20px;}
.rili{margin-left: 48px; margin-top: 15px;}
/* 登录 */
.login-nav{width: 1200px; height: 80px; margin: 0 auto 30px; font-size: 28px; color: #30bfa1;}
.login-nav b{line-height: 80px;}
.login-content{width: 100%; height: 680px; background: #30bfa1;}
.lon-con{width: 100%; height: 680px;margin: 0 auto;}
.lon-con img{margin-top: 40px;}
.lon-con .form1{width: 340px; height: 300px; background: #fff;float: right; margin: 160px 50px 0 0;padding: 30px; border-radius: 3px;}
.lon-con .lin{width: 260px; height: 33px; border: 1px solid #dfdfdf;padding-left: 10px;}
.login-col{position: relative; margin-top: 40px;margin-left: 15px;}
.login-col p{margin-bottom: 5px;}
.lon-con .div1{width: 80px; height: 35px;line-height: 15px; background: #3080ec; position: absolute; top: 25px; right: 13px;}
.laa{margin-left: 15px; color: #3080ec;line-height: 40px;}
.lo-btn{width: 200px; margin: 50px 0 0 50px;}
.lo-btn .ddlu{width:200px; height: 35px; background: #30bfa1; border-radius: 5px; color: #fff;display: inline-block;text-align: center;line-height: 33px;}
.lo-btn .ddlu:hover{background: #38d6b5;}
.lo-btn span{margin-top: 12px; margin-left: 15px;float: right;}
.lo-btn span b a{color: #3080ec;}
.lo-foo{width: 1200px; margin: 30px auto;color: #999;}
.lon-con .form2{width: 500px; height: auto; background: #fff;float: right; margin-top: 40px;padding: 50px 40px;border-radius: 3px;}
.rrll {
    display: inline-block;
    margin-left: 30px;
}
.rrll img {
    position: absolute;
    right: 5px;
    top: 3px;
}
#rangeA{width: 250px; height: 30px; border: 1px solid #30bfa1;padding-left: 10px;}
.bmbmlt button{width: 150px; height: 35px; border: none; color: #fff; background: #2fa4d7;border-radius: 3px; margin-left: 58px; margin-top: 20px; cursor: pointer;}
.bmbmlt button:hover{background: #31b1e9;}
@media screen and (max-width: 1400px) {
    .rrll{left: 210px;}
}
.daochu {
    color: #30bfa1;
    cursor: pointer;
    float: right;
    font-size: 18px;
    font-weight: 700;
}
.md #searchButton {
	width: 50px;
	height: 38px;
	margin: 5px;
	color: #fff;
	background: rgba(150,150,150,0.7);
	border: 1px solid #999;
	border-radius: 4px
}
