<a class="dropdown-toggle" data-toggle="dropdown" href="#">
  {{currency.symbol}} <span class="caret"></span>
</a>
<ul class="dropdown-menu">
  <!-- <li>
  <a href="#" data-ng-click="setCurrency('USD')" data-ng-class="{active: currency.symbol == 'USD'}">USD</a>
  </li> --!>
  <li>
  <a href="#" data-ng-click="setCurrency('RDD')" data-ng-class="{active: currency.symbol == 'RDD'}">RDD</a>
  </li>
  <li>
  <a href="#" data-ng-click="setCurrency('mRDD')" data-ng-class="{active: currency.symbol == 'mRDD'}">mRDD</a>
  </li> 
</ul>

