<a class="dropdown-toggle" data-toggle="dropdown" href="#">
  {{currency.symbol}} <span class="caret"></span>
</a>
<ul class="dropdown-menu">
  <li>
  <a data-ng-click="setCurrency('USD')" data-ng-class="{active: currency.symbol == 'USD'}">USD</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('VIA')" data-ng-class="{active: currency.symbol == 'VIA'}">VIA</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('mVIA')" data-ng-class="{active: currency.symbol == 'mVIA'}">mVIA</a>
  </li> 
  <li>
  <a data-ng-click="setCurrency('bits')" data-ng-class="{active: currency.symbol == 'bits'}">bits</a>
  </li>
</ul>

