<div class="container">
  <div data-ng-controller="HeaderController" >
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" data-ng-click="$root.isCollapsed = !$root.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="insight navbar-brand" href=".">BTCEXPLORER</a>
    </div>
    <div class="navbar-collapse collapse"collapse="$root.isCollapsed">
      <ul class="nav navbar-nav">
        <li data-ng-repeat="item in menu" ui-route="{{item.link}}" data-ng-class="{active: $uiRoute}">
          <a href="{{item.link}}">{{item.title|translate}}</a>
        </li>
      </ul>
      <span class="hidden-xs navbar-form navbar-left" data-ng-include src="'views/includes/search.html'"></span>
    </div>
  </div>
</div>
